/* Colors */
$ml-yellow: #ffe600;
$ml-light-gray: #eeeeee;
$ml-light-blue: #3483fa;
$ml-gray: #999999;
$ml-dark-gray: #666666;
$ml-black: #333333;

/* Font Sizes */

$x-x-small-font-size: 12px;
$x-small-font-size: 16px;
$small-font-size: 14px;
$medium-font-size: 18px;
$large-font-size: 24px;
$x-large-font-size: 28px;
$x-x-large-font-size: 46px;

#root {
  background-color: $ml-light-gray;
  padding-bottom: 40px;
}

.x-small-text {
  font-size: $x-x-small-font-size;
}

.small-text {
  font-size: $small-font-size;
}

.medium-text {
  font-size: $medium-font-size;
}

.large-text {
  font-size: $large-font-size;
}
.x-large-text {
  font-size: $x-x-large-font-size;
}

@mixin mediaQuery($size, $prop, $value) {
  @media (min-width: $size) {
    #{$prop}: $value;
  }
}

@mixin mediaQuery-xsmall ($prop, $value) {
  @include mediaQuery(425px, $prop, $value);
}

@mixin mediaQuery-medium ($prop, $value) {
  @include mediaQuery(768px, $prop, $value);
}

@mixin mediaQuery-large ($prop, $value){
  @include mediaQuery(1024px, $prop, $value);
}

h2 {
  font-size: $large-font-size;
  font-weight: 400;
  margin: 10px 0 32px 0;
  padding: 0;
}

h3 {
  font-size: $medium-font-size;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-align: center;  
}

.cell {
  box-flex: 1;
  flex: 1 1 auto; 
}

.App {
  @include mediaQuery-xsmall(width, 100%);
  @include mediaQuery-medium(width, 90%);
  @include mediaQuery-large(width, 75%);

  height: 100%;
  margin: auto;
}
